# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Build
dist/
build/

# TypeScript
*.tsbuildinfo

# Env
.env

# Logs
logs/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional: Mac / Linux swap files
*.swp
